/* Place your CSS styles in this file */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Courier New', monospace;
  background-color: rgb(25, 25, 25);
  color: white;
  margin: 0;
}



.nav {
  position: sticky;
  top: 0px;
  z-index: 900;

  height: 75px;

  color: white;
  border-bottom: 5px solid black;
  text-align: justify;
  background-color: rgb(10, 50, 150);
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.navText {
  display: grid;
  place-items: center;
  height: 100%;
  width: 20%;
  float: left;
}
.navContactContainter {
  width: 150px;
  height: 100%;
  float: right;
  display: grid;
  place-items: center;
}
.navContactContainterB {
  width: 150px;
  height: 80%;
}
.navButt {
  width: 100%;
  height: 100%;
  /*Text*/
  font-size: 15px;
  text-align: center;
  /*Others*/
  background: #c8c8c8;
  box-shadow:  2px 2px 15px #505050, -2px -2px 15px #c8c8c8;
  border-radius: 5px;
  border: 2px solid rgb(100, 250, 250);
  cursor: pointer;
}
.navButt:hover{
  border: 3px solid white
}
.darkmodeCont{
  margin-right: 25px;
  height: 100%;
  width: 40px;
  float: right;

  display: grid;
  place-items: center;
}
.DkMdImg {
  height: 20px;
  width: 20px;
}
.darkmodeBttn {
  height: 40px;
  width: 100%;
  background: none;
  border: 2px solid rgb(100, 250, 250);

  color: white;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}
.darkmodeBttn:hover {
  cursor: pointer;
}


.coverContainer{
  position: relative;
  overflow: hidden;
  height: 750px;
  width: 100%;
  box-sizing: border-box;
}
.hexSeparator {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}
.row{
  display: inline-flex;
  overflow: hidden;
}
.row:nth-child(even){
  margin-left: 1px;
}
.hexagon{
  position: relative;
  height: 100px;
  width: 100px;
  background: rgb(10, 50, 150);
  margin: 3px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  animation: animate 5s linear infinite alternate;
}

.coverText {
  margin: 150px auto;
  display: grid;
  place-items: center;
}
.coverTextContainer {
  background-color: rgb(25, 25, 25);
  width: 50%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: white;
  height: auto;
  border-radius: 75px;
  box-shadow:  0 0 20px 10px rgb(10, 50, 150);
  animation: animate 5s linear infinite alternate;
}
@keyframes animate{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(-50deg);
  }
}
.coverTitle {
  font-size: 75;
  margin: 25px;
}
.coverSubtitle {
  font-size: 30px;
  margin-bottom: 25px;
}


.sectionTitle {
  text-align: center;
  color: rgb(0, 100, 250);
  text-transform: uppercase;
  text-decoration: underline solid rgb(0, 100, 250) 2px;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
}



.latMenu {
  z-index: 200;
  width: 100px;
  position: fixed;
  float: right;
  right: 25px;
  top: 300px;
}
.latMenuBttn {
  display: grid;
  align-content: center;
  height: 50px;
  margin-top: 5px;
  padding-left: 7px;
  padding-right: 7px;

  background-color: rgba(255, 255, 255, 0.8);
  color: blue;
  text-transform: uppercase;
  
  border-left: 5px solid rgb(100, 250, 250); 
  border-radius: 5px;
}
.latMenuBttn:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}



.anchor {
  position: relative;
  top: -70px;
}



.aboutMe {
  height: 600px;
  min-width: 300px;
  max-width: 1000px;
  margin: 0 auto;
}
.aboutMeMenu {
  margin: 0 0 25px 25px;
  padding-left: 25px;
  height: 50px;
  width: 1000px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  place-items: center;
}
.abMeBttn {
  height: 80%;
  width: 95%;
  background-color: black;
  border: 2px solid rgb(0, 250, 250);
  color: white;
}
.abMeBttn:hover {
  cursor: pointer;
  border: 5px solid rgb(0, 250, 250);
}
.aboutMeContainer {
  display: grid;
  grid-template-columns: minmax(300px, 700px) 250px;
  margin-right: 125px;
}
.aboutMeText {
  position: relative;
  left: 45px;
  width: 80%;
  margin-left: 25px;
  /* Text */
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paragraphJump {
  color: rgb(0, 0, 0, 0);
}
.aboutMeImgContainer {
  font-size: 10px;
  text-align: center;
  margin: 0;
}
.aboutMeImg {
  width: 250px;
  height: 350px;
  border-radius: 50px;
  box-shadow: 15px 15px 40px #393d42;
  margin-bottom: 25px;
}
.abtImgFooter>a {
  color: rgb(175, 175, 250);
}




.projects {
  padding-top: 10px;
  height: 750px;
}
.projectsBox {
  margin: 50px 150px;
  height: 500px;
  color: white;
  display: grid;
  grid-template-columns: 220px minmax(450px, 750px);
  grid-template-rows: 500px;
}
.leftColumn {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  
  box-shadow: 20px 20px 50px #393d42;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 0.5px solid rgb(200, 250, 250, .5);

  display: grid;
  grid-template-rows: repeat(8, 50px);
  padding: 25px 10px;
  gap: 5px;
}
.projectsListB {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 15px;
}
.projectsLogos {
  border: 5px solid black;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}
.projectsLogos:hover {
  border: 2px solid white;
  cursor: pointer;
  border-radius: 15%;
}
.projectsTitle {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center start;
  font-size: 15px;
}
.SPcont {
  grid-row: 9;
  display: grid;
  place-content: center;
}
.SPButton {
  color: white;
  background: none;
  border: 2px solid rgb(0, 250, 250);
  font-size: 15px;
}
.SPButton:hover {
  cursor: pointer;
  border: 3px solid rgb(0, 250, 250);
}
/* RIGHT COLUMN */
.rightColumn {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);

  box-shadow: 15px 15px 40px #393d42;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 0.5px solid rgb(200, 250, 250, .5);
}

.projectsImgContainer {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
.projectsPreviewButton {
  height: 70%;
  width: 80%; 
  /* Text */
  text-align: center;
  color: rgba(0, 0, 0, 0);
  font-size: 30px;
  /* Visuals */
  opacity: 50%;
}
.projectsPreviewButton:hover {
  cursor: pointer;
  opacity: 75%;
  color: rgb(100, 250, 250);
}
.projectsImgContainerB {
  height: 100%;
  display: grid;
  place-items: center;
}
.projectsButtonText {
  position: relative;
  top: -70%;
}
.projectsPreviewImg {
  height: 90%;
  width: 100%;
  opacity: 75%;
  border: 3px solid white;
}
.projectsAbout {
  position: relative;
  top: -95%;
  left: 50px;
  width: 75%;
  height: 100px;
  /* Text */
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projectsDate {
  position: relative;
  right: 100px;
  float: right;
  bottom: 150px;
}


.background {
  display: flex;
  min-height: 50vh;
}
.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}
.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  box-shadow: 15px 15px 40px #393d42;
}
.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}
.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.screen-body {
  display: flex;
}
.screen-body-item {
  flex: 1;
  padding: 25px;
}
.screen-body-item.left {
  display: flex;
  flex: 0 1 30%;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 25px;
}
.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: white;
}
.app-contact {
  margin-top: auto;
  font-size: 13px;
  color: rgb(100, 200, 255);
}
.app-form-group {
  margin-bottom: 2px;
}
.app-form-group.message {
  margin-bottom: 50px;
  height: 75px;
}
.app-form-group.buttons {
  text-align: right;
}
.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 15px;
  outline: none;
  transition: border-color .2s;
}
.app-form-control::placeholder {
  color: rgb(200, 200, 200);
}
.app-form-control:focus {
  border-bottom-color: white;
  color: white;
}
.app-form-button {
  background: none;
  border: none;
  color: rgb(100, 250, 250);
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.app-form-button:hover {
  color: white;
}
.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.footer {
  height: 175px;

  border-top: 5px solid black;
  text-align: center;
}
.footerLogosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.logoFooter {
  grid-column: 1;
  float: left;
  position: relative;
  left: 25px;
  width: 50px;
}
.logoFooter:hover{
  cursor: pointer;
}
#LogoFooter {
  float: left;
}
.footerSocials  {
  float: right;
  height: 75px;
  margin-right: 50px;

  display: grid;
  place-items: center right;
}
.socialsLogos {
  height: 25px;
  width: 25px;
}
.socialsLogos:hover {
  cursor: pointer;
}
.FaviconLogos {
  width: 200px;
  margin-left: 25px;
}
.FaviconLogos>a {
  color: rgb(175, 175, 250);
}



/* MEDIAS MEDIAS MEDIAS */

@media (min-width: 1250px) {
  .aboutMeContainer {
    margin-right: 0;
  }
  .projects {
    display: grid;
  }
  .projectsBox {
    place-self: center;
  }
}
/* up to 980px */
@media (max-width:980px) {
  .latMenu{
    display: none;
  }
  .aboutMeContainer {
    margin-right: 0;
  }
  .projectsBox {
    margin: 50px;
  }
  .projectsListB {
    grid-template-columns: 50% 50%;
  }
  .projectsPreviewImg {
    height: 90%;
  }
}
/*TABLET (615px - 768px)*/
@media (max-width: 768px) and (min-width: 615px) {
  .aboutMe{
    height: auto;
    padding-right: 25px;
  }
  .aboutMeContainer {
    grid-template-columns: repeat(2, 60% 20%);
  }
  .leftColumn {
    width: 15%;
  }
  .projectsListB {
    margin: 5px 0 5px 0;
    grid-template-columns: 100%;
    place-items: center;
    border: 2px dashed white;
    border-radius: 25px;
  }
  .projectsLogos {
    width: 50px;
    height: 50px;
  }
  .projectsTitle {
    height: 50px;
    width: 80%;
    place-items: center;
    text-align: center;
  }
  .rightColumn {
    width: 70%;
  }
  .projectsPreviewButton {
    color: rgb(0, 250, 250); 
  }
  .projectsPreviewImg {
    height: 80%;
  }
  .projectsAbout {
    font-size: 15px;
  }
}
/* 615px ++ */
@media (min-width: 615px) {
  .webDisclaimer {
    display: none;
  }
  .webMobileLogo {
    display: none;
  }
}
/* MOBILE - 614px */
@media (max-width: 614px) {
  .nav {
    background-color: rgb(10, 50, 150);
    border: none;
    display: grid;
    place-items: center;
    border-bottom: 5px solid black;
  }
  .coverContainer {
    height: 500px;
  }
  .coverText {
    margin: 100px auto;
  }
  .coverTextContainer {
    width: 90%;
  }
  .coverTitle {
    font-size: 25px;
  }
  .coverSubtitle {
    font-size: 18px;
  }
  .darkmodeCont {
    display: none;
  }
  .navText {
    display: none;
  }
  .navContactContainter {
    display: none;
  }
  .hexSeparator {
    display: none;
  }
  .aboutMeMenu {
    display: none;
  }
  .aboutMeText {
    margin-left: 0px
  }
  .aboutMeContainer {
    grid-template-columns: repeat(1,1fr);
  }
  .aboutMeImgContainer {
    display: none;
  }
  .projects {
    display: none;
  }
  .contacto {
    display: none;
  }
  .background {
    display: none;
  }
  .webDisclaimer {
    display: block;
    text-align: center;
    font-size: 20px;
    color: red;
    padding: 0px 15px 0 15px;
    margin-bottom: 15px;
  }
  .webMobileLogo {
    height: 50%;
    object-fit:none;
  }
  .footer {
    height: 120px;
  }
}





/* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/
/* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/
/* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/ /* THANK YOU PAGE*/

.thx {
  display: grid;
  place-items: center;

  height: 400px;
}
.thxU {
  height: 200px;
  width: 60%;

  padding: 25px;

  text-align: center;
  font-size: 30px;

  background-color: white;
  border: 5px dotted rgb(75, 75, 75);
}
.thxBttn  {
  display: grid;
  place-items: start center;
  height: 200px;
  text-align: center;
}
.thxBttn a {
  padding: 10px;
  border: 2px solid black;
}
.thxBttn a:hover {
  cursor: pointer;
}