.subtitle {
  height: 75px;
  display: grid;
  align-content: center;

  text-align: center;
  font-size: 15px;
  border: 2px solid white;
}
#baseplate {
  height: 400px;
  background-color: rgb(75, 25, 25);
  border: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}



.colorSelContainerA {
  display: grid;
  place-items: center;
  margin-bottom: 25px;
}
.colorSelContainerB {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 100px;
}
.colorSelector {
  height: 100%;
  width: 100%;
  padding: 15px;

  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  text-align: center;
}
.colorSelContainerC {
  display: grid;
  place-items: center;
  width: 100%;
  height: 150px;
  margin-top: 15px;
}
.colorSelContainerC > input {
  width: 75px;
  border-color: white;
  text-align: center;
}
.colorSelContainerC .main {
  height: 150px;
  display: grid;
  place-items: center;
}
.main > input {
  border: none;
  height: 100px;
  width: 100%;
}
.colorSelector > button {
  height: 50px;
  width: 150px;
  position: relative;
  bottom: -35px;

  border: 2px solid green;
}
.colorSelector > button:hover {
  cursor: pointer;
  border-color: greenyellow;
}



/* MEDIAS MEDIAS MEDIAS */
/* up to 1023px */
@media (max-width: 1023px) {
  #baseplate {
    height: 300px;
  }
  .colorSelContainerB {
    grid-template-columns: repeat(1, 1fr);
  }
  .RGB {
    display: none;
  }
  .colorSelector {
    height: 200px;
  }
  .colorSelector > button {
    bottom: 0px;
  }
  .colorSelContainerC {
    margin-top: -25px;
  }
  .Hex {
    display: none;
  }
}
